* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgba(130, 140, 180, 1);
}

.wrapper {
    width: 65vmin;
    height: 70vmin;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: rgba(80, 80, 120, 1);
    box-shadow: 10px 10px 12px rgba(40, 40, 90, 0.7);
}

.game-details {
    color: rgba(190, 190, 220, 1);
    font-size: 1.2rem;
    font-weight: 500;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
}

.play-board {
    width: 100%;
    height: 100%;
    background: rgba(50, 50, 80, 1);
    display: grid;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}

.play-board .food {
    background: rgba(220, 50, 90, 1.0);
    border-radius: 2px;
}

.play-board .head {
    background: rgba(80, 180, 90, 1.0);
    border-radius: 2px;
}