* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgba(50, 90, 50, 1);
}

.game-container {
    width: 50vmin;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background-color: rgba(70, 100, 90, 1);
    box-shadow: 10px 10px 12px rgba(40, 40, 90, 0.7);
}

.game-info {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    color: rgb(240, 255, 255);
    font-size: 1.2rem;
    font-weight: 500;
}

.game-board {
    display: grid;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);
    width: 100%;
    aspect-ratio: 1;
    background-color: #323250;
}

.food {
    background-color: #DC325A;
    border-radius: 2px;
}

.snake {
    background-color: #50B45A;
    border-radius: 2px;
}

.game-controls {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px; 
    width: 40vmin; 
    height: 40vmin; 
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.game-controls button {
    width: 12vmin; 
    height: 12vmin;
    font-size: 2rem;
    color: rgb(240, 255, 255);
    background-color: #171B26;
    border: 2px solid #171B26;
    border-radius: 50%; 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.game-controls button:hover {
    background-color: rgba(240, 255, 255, 0.2);
}
