* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #828CB4;
}

.game-container {
    width: 65vmin;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background-color: #505078;
    box-shadow: 10px 10px 12px rgba(40, 40, 90, 0.7);
}

.game-info {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    color: #BEBEDC;
    font-size: 1.2rem;
    font-weight: 500;
}

.game-board {
    display: grid;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);
    width: 100%;
    aspect-ratio: 1; /* Maintain square proportions */
    background-color: #323250;
}

.food {
    background-color: #DC325A;
    border-radius: 2px;
}

.snake {
    background-color: #50B45A;
    border-radius: 2px;
}

.game-controls {
    display: flex;
    justify-content: space-between;
}

.game-controls button {
    padding: 25px 0;
    text-align: center;
    font-size: 1.3rem;
    color: #B8C6DC;
    background: none;
    border: none;
    cursor: pointer;
    flex: 1;
    border-right: 1px solid #171B26;
}
